.question-content {
    margin: 30px;
    overflow: hidden;
}

.question .title h1 {
    font-size: 16px;
    margin: 20px 0;
}

.question .title .next {
    width: 20px;
    height: 20px;
    margin: 20px 0 0 10px;
    background: url(../img/icon.png) no-repeat scroll 25% 84%;
}

.question .title .prev {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    background: url(../img/icon.png) no-repeat scroll 15% 84%;
}

.question .title p {
    margin: 45px 0 0 0;
    color: #999;
}

.question .title p img {
    width: 15px;
    height: 16px;
    vertical-align: top;
}

h6 {
    height: 18px;
    background: url(../img/icon.png) repeat-x scroll 50% 50%;
}

.question .goodanswer {
    margin: 30px 0;
}

.goodanswer p {
    color: #cb0000;
}

.goodanswer p span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    background: url(../img/icon.png) no-repeat scroll 33% 81%;
}

.goodanswer form textarea {
    margin-top: 10px;
    height: 211px;
    width: 714px;
    border: 1px solid #d7d9d9;
}

.goodanswer input[type="submit"] {
    height: 41px;
    width: 126px;
    margin-top: 28px;
    color: #fff;
    font-size: 14px;
    background: #cb0000;
}

.goodanswer .share {
    margin-top: 89px;
}

.goodanswer .share .font {
    position: relative;
    top: -7px;
    margin-right: 10px;
}

.goodanswer .share .share-way {
    height: 25px;
    width: 129px;
    overflow:hidden;
    display: inline-block;
    /*background: url(../img/icon.png) no-repeat scroll 76% 90%;*/
}
.goodanswer .share .share-way img{
    position:relative;
    top:-64px;
    left:-92px;
}

.answer {
    margin-top: 20px;
}

.answer .answer-num {
    height: 30px;
    margin-bottom: 21px;
    font-size: 16px;
}

.answer .answer-num .pic {
    display: inline-block;
    position: relative;
    top: 6px;
    height: 25px;
    width: 20px;
    margin-right: 10px;
    background: url(../img/icon.png) no-repeat scroll 98% 90%;
}

.answer-list li {
    margin-top: 20px;
}

.answer-list li .username {
    color: #cb0000;
}

.answer-list li .time {
    color: #999;
}

.answer-list li p {
    font-size: 14px;
    margin: 20px 0 10px;
    line-height: 22px;
    text-align: justify;
}

.answer .comment {
    overflow: hidden;
    margin-left: 422px;
}

.answer .comment .font {
    color: #cb0000;
    cursor: pointer;
    position: relative;
    top: -3px;
}

.answer .comment .font .bg {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 3px;
    width: 30px;
    height: 23px;
    background: url(../img/icon.png) no-repeat scroll 78% 1%;
}

.answer .comment .geili,
.answer .comment .bugeili {
    border: 1px solid #d7d9d9;
    width: 50px;
    height: 25px;
    cursor: pointer;
    padding: 0 20px;
    margin-left: 15px;
    text-align: center;
    line-height: 25px;
}

.answer .comment .geili {
    background: url(../img/icon.png) no-repeat scroll 133% 24%;
}

.answer .comment .bugeili {
    background: url(../img/icon.png) no-repeat scroll 141% -7%;
}

.answer .comment .geili .num,
.answer .comment .bugeili .num,
.answer .comment .geili .fonts,
.answer .comment .bugeili .fonts {
    color: #cb0000;
}

.answer .comment .bugeili .num,
.answer .comment .bugeili .fonts {
    color: #666;
    margin-left: 10px;
}

.answer .comment .geili .fonts,
.answer .comment .bugeili .fonts {
    display: none;
}

.answer-list form {
    display: none;
    margin: 10px;
    width: 700px;
    height: 153px;
    background-color: #FAFAFA;
    border: 1px solid #d7d9d9;
}

.answer-list form textarea {
    width: 680px;
    height: 80px;
    padding: 10px;
}

.answer-list form input {
    width: 100px;
    height: 30px;
    margin: 10px;
    color: #fff;
    background: #cb0000;
}
